body{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

main{
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.left{
    width: 50%;
    position: relative;
    background-color: var(--grey900);
    border: 1px solid var(--grey600);
    border-radius: var(--radius-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.625rem;
    padding: 2.75rem 1.5rem;
}

.left > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;   
}

.right > div{
    display: flex;
    gap: 1.125rem;
}

.right > div > div{
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.right > div > div > div{
    display: flex;
    gap: 1.125rem;
}

