@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans';
  color: var(--grey100);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
.none{
  display: none;
}


:root {
  --brand100: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --grey100: hsl(210, 11%, 15%);
  --grey200: hsl(210, 10%, 23%);
  --grey300: hsl(210, 9%, 31%);
  --grey400: hsl(210, 7%, 56%);
  --grey500: hsl(210, 11%, 71%);
  --grey600: hsl(210, 16%, 93%);
  --grey700: hsl(210, 17%, 95%);
  --grey800: hsl(210, 17%, 98%);
  --grey900: hsl(200, 100%, 99%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);

  --font-size-1: 2rem;     /* 32px */
  --font-size-2: 1.5rem;   /* 24px */
  --font-size-3: 1.25rem;  /* 20px */
  --font-size-4: 1rem;     /* 16px */
  --font-size-5: 0.875rem; /* 14px */

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --line-heigth-1: 150%;

  --radius-1: 0.5rem;
  --radius-2: 0.25rem;
}


